*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
# Ignore Environment Variables
.env
.env.local
.env.*

# Ignore Virtual Environment
.venv
venv/
env/

# Ignore Database
*.sqlite